<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237037454601-buelmoudsq8v44j278t06brkg1ha60m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237037454601-buelmoudsq8v44j278t06brkg1ha60m9</string>
	<key>API_KEY</key>
	<string>AIzaSyBzkWLufhehKrEAvkUuQbhmzuOfEG2rfKY</string>
	<key>GCM_SENDER_ID</key>
	<string>237037454601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cesar77muse.datePet</string>
	<key>PROJECT_ID</key>
	<string>datepetapp</string>
	<key>STORAGE_BUCKET</key>
	<string>datepetapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237037454601:ios:657952892f8a36438e3fd8</string>
</dict>
</plist>